{{!< default}}

{{> 'headers/home'}}

<main id="content" class="home content" role="main">

    <section class="marketing-site-three-up">
        {{!--<h2 class="marketing-site-three-up-headline">Inviting, Strengthening, Empowering</h2>--}}
        <div class="row">
            <div class="columns">
                <i class="fa fa-gg" aria-hidden="true"></i>
                <h4 class="marketing-site-three-up-title">Energy</h4>
                {{!--<p class="marketing-site-three-up-desc">Like-minded people meeting goals together</p>--}}
            </div>
            <div class="columns">
                <i class="fa fa-gg" aria-hidden="true"></i>
                <h4 class="marketing-site-three-up-title">Balance</h4>
            </div>
            <div class="columns">
                <i class="fa fa-gg" aria-hidden="true"></i>
                <h4 class="marketing-site-three-up-title">Strength</h4>
            </div>
        </div>
    </section>

    <section class="marketing-site-content-section">
        <div class="marketing-site-content-section-img">
            <img src="{{asset 'images/classes/classes-1.jpg'}}" />
        </div>
        <div class="marketing-site-content-section-block">
            <h3 class="marketing-site-content-section-block-header separator-left">Experience</h3>
            <p class="marketing-site-content-section-block-subheader subheader">Experience the Joy of the Pilates Method using the innovative system created by Joseph Pilates on the reformer machine.</p>
            <a href="{{@blog_url}}/a-history-of-pilates" class="square button large">learn more</a>
        </div>
        <div class="marketing-site-content-section-block small-order-2 medium-order-1">
            <h3 class="marketing-site-content-section-block-header separator-left">Pilates is for everyone</h3>
            <p class="marketing-site-content-section-block-subheader subheader">No matter your age or condition the Plates Method will work for you. Click here to register!</p>
            <div class="square button large">
                <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>

                <healcode-widget data-version="0.2" data-link-class="healcode-login-register-text-link" data-site-id="28659" data-mb-site-id="314234" data-type="account-link" data-inner-html="Register"></healcode-widget>
            </div>
        </div>
        <div class="marketing-site-content-section-img small-order-1 medium-order-2">
            <img src="{{asset 'images/classes/classes-2.jpg'}}" />
        </div>
    </section>
</main>
