{{!< default}}

<main id="content" class="content" role="main">
    {{!< page}}
    
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {{> "loop"}}
        </div>
    </div>
</main>
