.mobile-only {
  display: none; }
  @media (max-width: 39.9375em) {
    .mobile-only {
      display: block; } }

.mobile-hide {
  display: block; }
  @media (max-width: 39.9375em) {
    .mobile-hide {
      display: none; } }

.separator-left {
  position: relative;
  text-align: left; }
  .separator-left::after {
    content: '';
    position: absolute;
    width: 4rem;
    border-bottom: 0.125rem solid #000000;
    bottom: -5px;
    left: 0; }

@media (max-width: 39.9375em) {
  .post-head,
  .tag-head,
  .author-head {
    overflow: visible; } }

.marketing-site-content-section {
  display: flex;
  flex-wrap: wrap; }
  .marketing-site-content-section .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .marketing-site-content-section .button.square {
    background: transparent;
    border-radius: 0;
    border: 1px solid black;
    font-size: 1rem;
    color: black;
    padding: 0.75em 1em; }
    .marketing-site-content-section .button.square healcode-widget a:hover {
      color: white;
      background: black; }
    .marketing-site-content-section .button.square:hover {
      color: white;
      background: black; }
  .marketing-site-content-section .marketing-site-content-section-img {
    align-self: center;
    flex: 1 0 100%; }
    .marketing-site-content-section .marketing-site-content-section-img img {
      width: 100%; }
    @media screen and (min-width: 40em) {
      .marketing-site-content-section .marketing-site-content-section-img {
        flex: 1 0 50%; } }
  .marketing-site-content-section .marketing-site-content-section-block {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1 0 100%;
    align-self: stretch;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media screen and (min-width: 40em) {
      .marketing-site-content-section .marketing-site-content-section-block {
        flex: 1 0 50%; } }
    @media (max-width: 39.9375em) {
      .marketing-site-content-section .marketing-site-content-section-block {
        padding-top: 2rem;
        padding-bottom: 2rem; } }

.marketing-site-three-up {
  text-align: center;
  padding: 3rem 0; }
  .marketing-site-three-up .row {
    max-width: 900px; }
  .marketing-site-three-up .columns {
    margin-bottom: 1rem; }
    @media screen and (min-width: 40em) {
      .marketing-site-three-up .columns {
        margin-bottom: 0; } }
  .marketing-site-three-up .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #000000; }

.marketing-site-three-up-headline {
  margin-bottom: 5rem;
  font-size: 24px; }

.marketing-site-content-section-block-subheader {
  padding-bottom: 20px; }

.collapsable-header {
  position: relative;
  transition: all 0.5s ease; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .collapsable-header {
      height: 428px; } }
  @media (min-width: 64em) {
    .collapsable-header {
      height: 500px; } }

.sticky-shrinknav-menu {
  position: absolute;
  top: auto;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease;
  font-size: 1.2em;
  z-index: 30; }
  .sticky-shrinknav-menu .nav-current {
    box-shadow: 0 0 0 1px #808284; }
  .sticky-shrinknav-menu li {
    border-radius: 0;
    transition: all 0.3s ease;
    white-space: nowrap;
    margin: 0.1em; }
    .sticky-shrinknav-menu li:hover {
      box-shadow: 0 0 0 1px #808284; }
  .sticky-shrinknav-menu a {
    color: #555;
    font-size: 0.8em; }
    @media (min-width: 40em) and (max-width: 63.9375em) {
      .sticky-shrinknav-menu a {
        font-size: 0.7em;
        padding: 0.7rem 0.7rem; } }

.sticky-shrinknav-header-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: auto;
  width: 100% !important;
  margin: 0; }
  @media (max-width: 39.9375em) {
    .sticky-shrinknav-header-video {
      display: none; } }

.sticky-shrinknav-header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 20; }

.sticky-shrinknav-menu-logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50px; }

.sticky-shrinknav-login {
  position: absolute;
  top: 0;
  right: 20px;
  left: auto;
  font-size: 0.8em; }
  .sticky-shrinknav-login:hover {
    text-decoration: underline; }
  .sticky-shrinknav-login-text {
    padding-left: 10px; }

.sticky-shrinknav-header-title,
.sticky-shrinknav-header-description {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-25px);
  margin-bottom: 0;
  color: #222;
  z-index: 30; }

.sticky-shrinknav-header-title {
  font-size: 4rem; }

.sticky-shrinknav-header-description {
  color: #333; }

.sticky-shrinknav-header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .sticky-shrinknav-header {
      height: 428px; } }
  @media (max-width: 39.9375em) {
    .sticky-shrinknav-header {
      display: none; } }

.sticky-shrinknav-list-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media (max-width: 39.9375em) {
    .sticky-shrinknav-list-wrapper.mobile-hide {
      display: none; } }

header.sticky-shrinknav-wrapper.collapsable-header {
  height: 100px; }
header.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  position: fixed;
  height: 50px !important;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px #e7e7e7;
  z-index: 100; }
  header.sticky-shrinknav-wrapper .sticky-shrinknav-header .video-wrapper {
    height: 0px;
    display: none; }
  header.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title,
  header.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-description {
    transform: scale(0);
    transition: all 0.3s ease; }
header.sticky-shrinknav-wrapper .sticky-shrinknav-menu {
  background-color: #ffffff; }

.curtain-menu {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  pointer-events: none; }
  @media (max-width: 39.9375em) {
    .curtain-menu {
      display: flex; } }

.curtain-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden; }
  .curtain-menu-wrapper .curtain-menu-list.vertical {
    display: none; }
  .curtain-menu-wrapper .curtain-menu-list li {
    width: 100%;
    font-weight: 100;
    font-size: 2em;
    min-height: 2em;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    transition: all 0.2s ease-in; }
    .curtain-menu-wrapper .curtain-menu-list li:hover {
      background: rgba(255, 255, 255, 0.7); }
      .curtain-menu-wrapper .curtain-menu-list li:hover a {
        color: #000000; }
    .curtain-menu-wrapper .curtain-menu-list li a {
      color: #ffffff;
      justify-content: center; }

.curtain-menu .curtain {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.45s; }
  .curtain-menu .curtain:nth-child(2) {
    flex: 1 0 100%;
    background: transparent; }
  .curtain-menu .curtain:nth-child(odd) {
    background: black; }

.curtain-menu-button {
  display: none;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 30; }
  @media (max-width: 39.9375em) {
    .curtain-menu-button {
      display: block; } }

.curtain-menu-button-toggle {
  width: 40px;
  height: 40px;
  border-radius: 5000px;
  background: #ffffff;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .curtain-menu-button-toggle div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: #000000;
    transition: transform 0.3s;
    transition-delay: 0.5s; }
  .curtain-menu-button-toggle .bar1 {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg); }
  .curtain-menu-button-toggle .bar2 {
    transform: translateX(-50%) translateY(-50%) rotate(-180deg); }
  .curtain-menu-button-toggle:hover {
    background: #000000; }
    .curtain-menu-button-toggle:hover div {
      background: #ffffff; }
  .curtain-menu-button-toggle:active {
    box-shadow: none; }

.curtain-menu-open {
  overflow: hidden; }
  .curtain-menu-open .vertical {
    display: table-cell !important; }
  .curtain-menu-open .curtain:nth-child(2) {
    flex: 0 0 0%; }
  .curtain-menu-open .curtain-menu-wrapper {
    transform: translateY(0%);
    visibility: visible;
    pointer-events: all; }
  .curtain-menu-open .curtain-menu-button-toggle .bar1 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
  .curtain-menu-open .curtain-menu-button-toggle .bar2 {
    transform: translateX(-50%) translateY(-50%) rotate(-135deg); }

.mobile-header {
  position: relative;
  display: none; }
  @media (max-width: 39.9375em) {
    .mobile-header {
      display: block; } }
  .mobile-header .mobile-header-image {
    width: 100%;
    height: auto; }
  .mobile-header-title {
    font-size: 4.8rem;
    color: #ffffff; }
  .mobile-header-description {
    color: #ffffff; }

.mobile-header-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.1); }

.fixed-nav .sticky-shrinknav-menu {
  position: fixed;
  top: 0;
  bottom: auto;
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7; }

.button {
  background-color: #000000; }
  .button:hover {
    background-color: #0f0f0f; }

.tag-template .tag-head {
  margin-bottom: 0; }
.tag-template .content {
  padding-left: 20px;
  padding-right: 20px; }
.tag-template .no-cover.main-header {
  background: transparent; }
.tag-template .page-title {
  position: relative;
  padding-bottom: 5px;
  font-size: 3em;
  border-bottom: 1px solid #e7e7e7; }
.tag-template .page-description {
  font-size: 1.5em; }
.tag-template .page-title:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px; }
.tag-template .posts-list .post {
  margin-top: 0; }
.tag-template .posts-list .post-title {
  font-size: 2.5rem;
  margin-top: 20px; }
.tag-template .tags-list {
  list-style: none;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 40px; }
  @media (max-width: 39.9375em) {
    .tag-template .tags-list {
      text-align: center;
      width: 80%;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #e7e7e7; } }
  .tag-template .tags-list__tag {
    font-size: 0.9em; }

@media (max-width: 39.9375em) {
  .post-template .fixed-nav {
    height: 0; } }
.post-template .post {
  width: 80%; }
  .post-template .post-head {
    background-position-y: 50px; }
    @media (max-width: 39.9375em) {
      .post-template .post-head {
        background-position-y: 0px; } }
  .post-template .post-title, .post-template .post-meta {
    text-align: center; }
  .post-template .post-title {
    font-size: 2.8rem; }
.post-template .author-bio {
  font-size: 1.1rem; }
.post-template .author-location {
  font-size: 1.2rem; }

.author-template .author-profile {
  width: 80%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0; }
  @media (max-width: 39.9375em) {
    .author-template .author-profile {
      margin-top: 0; } }
@media (max-width: 39.9375em) {
  .author-template .author-profile span, .author-template .author-meta span {
    font-size: 1.2rem; } }
.author-template .author-title {
  font-size: 2.8rem; }
  @media (max-width: 39.9375em) {
    .author-template .author-title {
      font-size: 2.2rem; } }
.author-template .author-bio {
  font-size: 1.5rem; }
  @media (max-width: 39.9375em) {
    .author-template .author-bio {
      font-size: 1.2rem; } }
.author-template .author-location, .author-template .author-stats {
  font-size: 1.3rem; }
.author-template .post {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
.author-template .post-title {
  font-size: 2.5rem !important;
  margin-top: 20px; }
  @media (max-width: 39.9375em) {
    .author-template .post-title {
      font-size: 2.2rem !important; } }

.footer {
  background-color: #333;
  color: white;
  padding: 30px 0 60px 0; }
  @media (max-width: 39.9375em) {
    .footer .columns {
      margin-bottom: 20px; } }
  .footer__title {
    color: #ffffff;
    font-family: 'cabin', 'sans-serif';
    font-size: 1.1em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; }
  .footer__social-wrapper {
    width: 100%;
    text-align: center;
    line-height: 35px; }
  .footer__social-icon {
    color: #ffffff;
    margin: 0 1em; }
    .footer__social-icon:hover {
      color: gray; }
  .footer__contact-info {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0; }
  .footer__contact-email {
    color: #ffffff;
    border-bottom: 1px solid #ffffff; }
    .footer__contact-email:hover {
      color: gray; }
  .footer__copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 0.6em;
    color: #ffffff;
    text-align: center;
    margin: 0; }
    .footer__copyright a {
      color: #ffffff; }
  .footer #mc_embed_signup {
    background: transparent; }
  .footer #mc_embed_signup form {
    padding-top: 0; }
  .footer #mc_embed_signup label {
    display: none; }
  .footer #mc_embed_signup input.email {
    width: 60%; }
    @media (max-width: 39.9375em) {
      .footer #mc_embed_signup input.email {
        width: 70%; } }
  .footer #mc_embed_signup .button {
    width: 100%; }
    @media (max-width: 39.9375em) {
      .footer #mc_embed_signup .button {
        width: 70%; } }

@media (min-width: 40em) and (max-width: 63.9375em) {
  .home-template .footer {
    padding-bottom: 100px; } }

.about-header .sticky-shrinknav-header-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
.about-header .sticky-shrinknav-menu {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.instructor {
  padding-top: 20px;
  padding-bottom: 30px; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .instructor {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 39.9375em) {
    .instructor {
      padding-left: 20px;
      padding-right: 20px; } }
  .instructor__main-title {
    margin-top: 30px;
    font-size: 1.8em;
    margin-bottom: 5px; }
  .instructor__subtitle {
    font-size: 1em; }
  .instructor-row {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 39.9375em) {
      .instructor-row {
        padding-top: 0;
        padding-bottom: 0; } }
    .instructor-row .separator-left {
      text-align: left; }
      @media (max-width: 39.9375em) {
        .instructor-row .separator-left {
          text-align: center; } }
      .instructor-row .separator-left::after {
        position: relative;
        width: 5rem;
        border-bottom: 0.125rem solid #000000;
        margin: 0.3rem auto 0;
        margin-left: 0; }
        @media (max-width: 39.9375em) {
          .instructor-row .separator-left::after {
            margin: 0.3rem auto; } }
      @media (min-width: 40em) and (max-width: 63.9375em) {
        .instructor-row .separator-left.medium-center {
          text-align: center; } }
      @media (min-width: 40em) and (max-width: 63.9375em) {
        .instructor-row .separator-left.medium-center::after {
          margin: 0.3rem auto; } }
  .instructor-card {
    padding: 40px;
    border: 1px solid #e7e7e7;
    box-shadow: 1px 1px 1px #e7e7e7; }
    @media (max-width: 39.9375em) {
      .instructor-card {
        margin-top: 20px;
        margin-bottom: 20px; } }
    .instructor-card.large-card {
      min-width: 102%;
      display: flex;
      padding-left: 0;
      padding-right: 0;
      margin-left: -10px;
      margin-right: -10px; }
      @media (max-width: 39.9375em) {
        .instructor-card.large-card {
          display: block;
          margin-left: 0;
          margin-right: 0; } }
    .instructor-card.left-column {
      margin-left: -10px;
      margin-right: 10px; }
      @media (max-width: 39.9375em) {
        .instructor-card.left-column {
          margin-left: 0;
          margin-right: 0; } }
    .instructor-card.right-column {
      margin-left: 10px;
      margin-right: -10px; }
      @media (max-width: 39.9375em) {
        .instructor-card.right-column {
          margin-left: 0;
          margin-right: 0; } }
  .instructor-title {
    text-transform: uppercase; }
  .instructor-social {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; }
    .instructor-social .fa-stack {
      display: inline-block;
      font-size: 1em;
      line-height: 1.6em;
      width: 1.5em;
      height: 1.5em; }
      .instructor-social .fa-stack .fa-circle {
        font-size: 1.5em; }
      .instructor-social .fa-stack.facebook {
        color: #4c70ba; }
        .instructor-social .fa-stack.facebook:hover, .instructor-social .fa-stack.facebook:focus {
          color: #3b5998; }
      .instructor-social .fa-stack.twitter {
        color: #83c3f3; }
        .instructor-social .fa-stack.twitter:hover, .instructor-social .fa-stack.twitter:focus {
          color: #55acee; }
      .instructor-social .fa-stack.linkedin {
        color: #009ee8; }
        .instructor-social .fa-stack.linkedin:hover, .instructor-social .fa-stack.linkedin:focus {
          color: #007bb5; }
  .instructor-image-wrapper {
    text-align: center; }
  .instructor-image {
    width: 120px;
    border-radius: 60px; }
  .instructor-text {
    text-align: justify;
    margin-bottom: 0; }

.row__map iframe {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 3em;
  margin-left: auto;
  border: 1px solid #e7e7e7 !important;
  box-shadow: 2px 2px 2px #e7e7e7;
  padding: 2px; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .row__map iframe {
      width: 90%; } }
  @media (max-width: 39.9375em) {
    .row__map iframe {
      width: 90%; } }
.row__map .about__location-title,
.row__map .about__location-info {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .row__map .about__location-title,
    .row__map .about__location-info {
      width: 90%; } }
  @media (max-width: 39.9375em) {
    .row__map .about__location-title,
    .row__map .about__location-info {
      width: 90%; } }

.classes-header .sticky-shrinknav-header-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../images/headers/classes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
.classes div.healcode .class_list h1.class_name, .classes div.healcode .class_list h1.trainer_name, .classes div.healcode .trainer_list h1.class_name, .classes div.healcode .trainer_list h1.trainer_name {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.1em; }
.classes .healcode.schedule .header {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center; }
  .classes .healcode.schedule .header h1 {
    margin-top: 20px; }
.classes .healcode.schedule .action_icon.cart_version {
  margin-right: 10px; }
.classes .healcode.schedule .filters select {
  font-size: 0.7em;
  padding: 0px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-color: #555; }
.classes .healcode.schedule .filters .checkboxes input {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  border: 1px solid #555; }
  .classes .healcode.schedule .filters .checkboxes input:checked {
    background-color: #555; }
.classes .healcode.schedule .filters .checkboxes label {
  margin-bottom: 1rem;
  vertical-align: middle; }
.classes .healcode.schedule table tbody {
  border: 0; }
.classes .healcode.schedule .hc_footer {
  display: none !important; }
  .classes .healcode.schedule .hc_footer a {
    display: none !important; }
.classes table tbody > tr:nth-child(odd) > td, .classes table tbody > tr:nth-child(odd) > th {
  background-color: white; }
.classes ol.schedule_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 auto;
  width: 90%;
  align-items: stretch; }
.classes li.schedule_date {
  display: block;
  width: 100%;
  font-family: 'cabin', sans-serif;
  font-size: 1.2em;
  text-align: center;
  border: 0;
  box-shadow: none;
  margin-top: 30px;
  margin-bottom: 30px; }
.classes li.DropIn {
  position: relative;
  width: 31%;
  min-height: 200px;
  margin: 1.15%;
  padding: 20px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  border: 3px solid #414a4c; }
  @media (min-width: 40em) and (max-width: 63.9375em) {
    .classes li.DropIn {
      width: 47.6%; } }
  @media (max-width: 39.9375em) {
    .classes li.DropIn {
      width: 100%;
      min-height: 170px;
      margin: 10px 0px; } }
  .classes li.DropIn .hc_time {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'cabin', sans-serif; }
  @media (max-width: 39.9375em) {
    .classes li.DropIn .classname {
      font-size: 1.3em; } }
  .classes li.DropIn .trainer {
    font-size: 0.8em; }
    @media (max-width: 39.9375em) {
      .classes li.DropIn .trainer {
        font-size: 1em; } }
  .classes li.DropIn .signup {
    margin-top: 20px;
    margin-bottom: 20px; }
  .classes li.DropIn .hc_class_availability .hc_waitlist {
    display: block;
    color: red;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0; }
  .classes li.DropIn .hc_cart_button a {
    padding: 7px 15px;
    font-size: 0.9em;
    border: 1px solid black;
    background-color: black;
    color: white; }
    .classes li.DropIn .hc_cart_button a:hover {
      background-color: #333333; }
.classes .no_classes {
  width: 100%;
  text-align: center;
  color: red; }

body.in-iframe footer.footer {
  display: none !important; }

.main-header.pricing {
  min-height: 0px;
  height: 0px;
  margin-bottom: 60px;
  padding-bottom: 40px; }

.pricing {
  padding-bottom: 60px; }
  .pricing__main-header, .pricing__model-header {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; }
  .pricing__main-header {
    margin-bottom: 3rem; }
  .pricing__model-header {
    margin-top: 2rem; }
  .pricing__text.card {
    position: relative;
    height: 175px;
    margin: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    border: 3px solid #333;
    border-radius: 0; }
    @media (min-width: 40em) and (max-width: 63.9375em) {
      .pricing__text.card {
        height: 204px; } }
    .pricing__text.card.card--membership {
      height: 210px; }
  .pricing__text-title {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .pricing__text-price {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .pricing__text-subtext {
    font-size: 0.8em; }
  .pricing .button.square {
    background: black;
    border-radius: 0;
    border: 1px solid black;
    font-size: 1rem;
    color: white;
    padding: 0.75em 1em;
    width: 100px;
    margin: 0.5rem auto; }
    .pricing .button.square healcode-widget a {
      color: white; }
      .pricing .button.square healcode-widget a:hover {
        color: white;
        background: #4d4d4d; }
    .pricing .button.square:hover {
      color: white;
      background: #4d4d4d; }

/*# sourceMappingURL=main.css.map */
