$primary-color: #000000;

$primary-color-dark: #555;
$secondary-color-dark: #808284;
$ternary-color-dark: #333;

$white: #ffffff;
$black: #000000;
$light-grey-1: #f9f9f9;
$light-grey-2: #e7e7e7;

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-max: 100;

$footer-height: 200px;